//DATABASE_URL="mysql://adminroot:adminroot_local_examplepass@localhost:3306/impulsosocial"
BULKFOLLOWS_API_URL=https://bulkfollows.com/api/v2
BULKFOLLOWS_API_KEY=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

BCRYPT_SALT_ROUNDS=12
DEFAULT_TENANT_SLUG=impulsosocial