*, *::before, *::after { box-sizing: border-box; }
html { min-width: 320px; }
body { margin: 0; }
button, select { font: inherit; }
a { color: inherit; }
button, a { -webkit-tap-highlight-color: transparent; }